<!DOCTYPE html>
<html>
<head>
  <title>Bookers2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
 <!-- もしもログインしていたらこの部分をひょうじする -->
 <% if user_signed_in? %>

 <header class="navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <h2>Bookers</h2>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to 'Home',user_path(current_user)%></li>
        <li><%=link_to 'Users',users_path%></li>
        <li><%=link_to 'Books',books_path%></li>
        <li><%=link_to 'logout',destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>
<% else %>
<header class="navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <h2>Bookers</h2>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to 'Home',root_path%></li>
        <li><%=link_to 'About',home_about_path %></li>
        <li><%=link_to 'sign Up' ,new_user_registration_path%></li>
        <li><%=link_to 'login' ,new_user_session_path%></li>
      </ul>
    </nav>
  </div>
</header>
<!-- そうでなければこの部分を表示させる -->
<% end %>
<!-- 条件文終わり -->

<%= yield %>
</body>
</html>



